
<!DOCTYPE html>

{% load static compress %}

<html>
    <head>
        <title>Computer Vision Annotation Tool (CVAT)</title>

        {% compress css %}
            {% block head_css %}
                <link rel="stylesheet" type="text/css" href="{% static 'engine/jquery-confirm.min.css' %}">
                <link rel="stylesheet" type="text/css" href="{% static 'engine/bootstrap.min.css' %}">
                <link rel="stylesheet" type="text/css" href="{% static 'engine/bootstrap-select.min.css' %}">
            {% endblock %}
        {% endcompress %}

        {% compress js file platformchecker %}
            <script type="text/javascript" src="{% static 'engine/js/3rdparty/platform.js' %}"></script>
            <script type="text/javascript" src="{% static 'engine/js/checkPlatform.js' %}"></script>
        {% endcompress %}

        {% compress js file thirdparty %}
            {% block head_js_3rdparty %}
                <script type="text/javascript" src="{% static 'engine/js/3rdparty/jquery-3.3.1.js' %}"></script>
                <script type="text/javascript" src="{% static 'engine/js/3rdparty/md5.js' %}"></script>
                <script type="text/javascript" src="{% static 'engine/js/3rdparty/js.cookie.js' %}"></script>
                <script type="text/javascript" src="{% static 'engine/js/3rdparty/mousetrap.js' %}"></script>
                <script type="text/javascript" src="{% static 'engine/js/3rdparty/jquery-confirm.min.js' %}"></script>
                <script type="text/javascript" src="{% static 'engine/js/3rdparty/bootstrap.bundle.min.js' %}"></script>
                <script type="text/javascript" src="{% static 'engine/js/3rdparty/bootstrap-select.min.js' %}"></script>
                <script type="text/javascript" src="{% static 'others/js/3rdparty/multiselect.min.js' %}"></script>
            {% endblock %}
        {% endcompress %}

        {% compress js file cvat %}
            {% block head_js_cvat %}
                <script type="text/javascript" src="{% static 'engine/js/base.js' %}"></script>
                <script type="text/javascript" src="{% static 'others/js/tool.js' %}"></script>
                <script type="text/javascript" src="{% static 'engine/js/userConfig.js' %}"></script>
                <script type="text/javascript" src="{% static 'engine/js/translate.js' %}"></script>
            {% endblock %}
        {% endcompress %}
        <style>
            body {
                background-color: lightyellow;
                width: auto;
                height: auto;
            }
            em {
                color: LightSeaGreen;
            }
        </style>
    </head>
    <body>
        <h1>用 戶 ： {{ username }}</h1>
        <h2>狀 態 ： {{ permission }}</h2>
        <br>
        <button onclick="window.location.href='/auth/logout'"> 登出 </button>
        <br>
        
        <br><hr><br>

        <div class="container" style="max-width: 100%;">
            <div class="row" style="max-width: 100%;">
                <div class="col-6">
                    <em>I P : {{ ip }}</em>
                    <em>{{ is_routable }}</em>
                    <br>
                    <table class="regular">
                        {% for project in projects %}
                            <tr>
                                <td> 專案： </td>
                                <td> <a href="/{{project}}"> {{project}} </a> </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-6">
                    {% if permission == "管理員" %}
                        <div class="row">
                            <label>Project :</label>
                            <select id="userProject">
                                {% for project in projects %}
                                <option value="{{project}}">{{project}}</option>
                                {% endfor %}
                            </select>
                            <label>用戶 :</label>
                            <input id="inpustUser" type="text" placeholder="username"></input>
                            <button id='search_user_btn'> 在哪裡 </button>
                            <label id="userWorkSpace"></label>
                        </div>
                        <br>
                        
                        <div class="row">
                            <label>Project :</label>
                            <select id="workspace_project">
                                {% for project in projects %}
                                <option value="{{project}}">{{project}}</option>
                                {% endfor %}
                            </select>
                            <button id='workspace_project_btn'> 搜尋 </button>
                            <label>Package :</label>
                            <select id="workspace_package">
                            </select>
                            <button id='workspace_package_btn'> 搜尋 </button>
                            <button id='workspace_save_btn'> 儲存 </button>
                            <div class="w-100"></div>
                            <label>你選的Project : </label><label id="selected_project"></label>
                            <div class="w-100"></div>
                            <label>你選的Package : </label><label id="selected_package"></label>
                        </div>
                        <br>
        
                        <div class="row">
                            <div class="col">
                                <select name="from[]" id="WorkSpaceUser" class="inWorkSpaceUser js-multiselect form-control" size="8" multiple="multiple">
                                    <optgroup label="Company"></optgroup>
                                    <optgroup label="SOHO"></optgroup>
                                </select>
                            </div>
                            <div class="col-2">
                                <button type="button" id="js_right_All_1" class="btn btn-block"><i class="glyphicon glyphicon-forward"> >> </i></button>
                                <button type="button" id="js_right_Selected_1" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"> > </i></button>
                                <button type="button" id="js_left_Selected_1" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"> < </i></button>
                                <button type="button" id="js_left_All_1" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i> << </button>
                            </div>
                            <div class="col">
                                <select name="to[]" id="WorkSpaceUser_to" class="outWorkSpaceUser form-control" size="8" multiple="multiple">
                                    <optgroup label="Company"></optgroup>
                                    <optgroup label="SOHO"></optgroup>
                                </select>
                            </div>
                        </div>
                        
                    {% endif %}
                </div>
            </div>
        </div>

        <br><hr><br>

        <div class="container" style="max-width: 100%;">
            <div class="row" style="max-width: 100%;">
                <div class="col">
                    <div class="row">
                        <table style="border-collapse: separate; border-spacing: 15px 5px; text-align: center;">
                            <tr>
                                <td>
                                    <select id="search_project">
                                        {% for project in projects %}
                                        <option value="{{project}}">{{project}}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                {% if permission == "管理員" %}
                                <td>
                                    <select id="office">
                                        <option value="Company">Company</option>
                                        <option value="SOHO">SOHO</option>
                                    </select>
                                </td>
                                {% endif %}
                                <td> <label for="startDate">開始日期:</label> </td>
                                <td> <input type="date" id="startDate" name="startDate"> </td>
                                <td> <label for="endDate">結束日期:</label> </td>
                                <td> <input type="date" id="endDate" name="endDate"> </td>
                                <td> <button id='search_efficiencyTable'> 搜尋 </button> </td>
                            </tr>
                        </table>

                        <div class="w-100"></div>
                        
                            <!-- 
                            #時間內標記多少張（修改的送出時間先看 沒有的話看第一次送出時間）
                            #時間內檢查好的有幾張 與上個相同 但是多了檢查好  >>>
                            #時間內待修改還有幾張 與上個相同 但是多了待修改  >>>
                            #時間內沒檢查還有幾張 與上個相同 但是多了以送出  >>>
                    
                            #用退件時間看 這時間內退了幾張
                            #用完成時間看 這時間內完成幾張 ~~~ 這個算錢
                            -->
                        <table id="efficiencyTable" style="text-align: center; border-collapse: separate; border-spacing: 20px;">
                            <tr>
                                <td> 用戶 </td>
                                <td> 標記(物件數 / 圖片量) </td>
                                <td> 已正確(物件數[4000] / 圖片量) </td>
                                <td> 待修改(物件數 / 圖片量) </td>
                                <td> 未檢查(物件數 / 圖片量) </td>
                                <td> 錯誤(物件數 / 圖片量) </td>
                                <td> 正確(物件數 / 圖片量) </td>
                                <td> 查詢時間 </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>

        

    </body>
</html>